<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <li>...all leagues where sport is any type of hockey</li>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <li>...all leagues that call themselves "conferences"</li>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
    </div>
    <div style="width: 400px;">
        <table class="table table-striped">
            <tr>
                <th>Women's Leagues</th>
            </tr>
            @foreach(var l in ViewBag.WomensLeagues)
            {
                <tr>
                    <td>@l.Name</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Name of Hockey Leagues</th>
                <th>Sport</th>
            </tr>
            @foreach(var l in ViewBag.HockeyLeagues)
            {
                <tr>
                    <td>@l.Name</td>
                    <td>@l.Sport</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Name of League That Isn't Football</th>
                <th>Type of Sport</th>
            </tr>
            @foreach(var l in ViewBag.Leagues)
            {
                <tr>
                    <td>@l.Name</td>
                    <td>@l.Sport</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>All Leagues That Call Themselves Conferences</th>
            </tr>
            @foreach(var l in ViewBag.Conferences)
            {
                <tr>
                    <td>@l.Name</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Atlantic Leagues</th>
            </tr>
            @foreach(var l in ViewBag.AtlanticLeagues)
            {
                <tr>
                    <td>@l.Name</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Names of Dallas Teams</th>
            </tr>
            @foreach(var l in ViewBag.DallasTeams)
            {
                <tr>
                    <td>@l.TeamName</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Teams with Raptor in the Name</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.AllRaptors)
            {
                <tr>
                    <td>@l.TeamName</td>
                    <td>@l.Location</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Teams whose Location includes "City"</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.CityTeams)
            {
                <tr>
                    <td>@l.TeamName</td>
                    <td>@l.Location</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>All Teams whose Name Begins with a T</th>
            </tr>
            @foreach(var l in ViewBag.TTeams)
            {
                <tr>
                    <td>@l.TeamName</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Teams</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.AlphaTeams)
            {
                <tr>
                    <td>@l.TeamName</td>
                    <td>@l.Location</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>All teams in reverse alphabetical order</th>
            </tr>
            @foreach(var l in ViewBag.BetaTeams)
            {
                <tr>
                    <td>@l.TeamName</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>All Players with Last Name Cooper</th>
            </tr>
            @foreach(var l in ViewBag.Cooper)
            {
                <tr>
                    <td>@l.FirstName @l.LastName</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>All Players with First Name Joshua</th>
            </tr>
            @foreach(var l in ViewBag.Joshua)
            {
                <tr>
                    <td>@l.FirstName @l.LastName</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>All Players with Last Name Cooper but Not the First Name Joshua</th>
            </tr>
            @foreach(var l in ViewBag.NotJoshua)
            {
                <tr>
                    <td>@l.FirstName @l.LastName</td>
                </tr>
            }
        </table>

        <table class="table table-striped">
            <tr>
                <th>Players with First Name Alex or Last Name Wyatt</th>
            </tr>
            @foreach(var l in ViewBag.Players)
            {
                <tr>
                    <td>@l.FirstName @l.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>